body {
    font-family: 'Avenir', sans-serif;
    background-color: #d1e8ff;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.back{
    text-align: center;
    margin-bottom: 30px;
}

h3 {
    color: #003366; 
    font-weight: 600; 
    margin-bottom: 15px; 
}

.navbar {
    background-color: #003366;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    padding: 10px 0; 
}

.navbar-text button a {
  color: white !important;
  text-decoration: none !important;
}

.navbar-text button a:visited,
.navbar-text button a:hover,
.navbar-text button a:active {
  color: white !important;
}

.container-fluid h3{
    margin-top:10px;
    padding-left: 20px;
    padding-right: 10px;
}

.container h2{
    text-align: center;
    margin-top: 20px;
}

.container p{
    text-align: center;
    margin-top: 10px;
}

.submitbutton{
    align-items: center;
}

form {
    background-color: rgba(0, 19, 61, 0.95);
    width: 600px;
    max-width: 90%;
    margin: 40px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

fieldset {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
}

legend {
    font-size: 18px;
    font-weight: bold;
    color: #2575fc;
    padding: 0 10px;
}

/* Table Form */
table {
    width: 100%;
}

td {
    padding: 8px 5px;
    vertical-align: middle;
}

input[type="text"],
input[type="file"] {
    width: 95%;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

/* Tombol Upload */
input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    background-color: #2575fc;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

input[type="submit"]:hover {
    background-color: #072509;
}

@media (max-width: 650px) {
    form {
        width: 100%;
        margin: 20px 10px;
        padding: 20px;
    }

    input[type="text"],
    input[type="file"] {
        width: 100%;
    }
}

.footer {
       background-color: #003366;
       color: #ffffff;
       text-align: center;
       padding: 20px;
       margin-top: 50px;
       font-size: 0.9em;
   }
   .footer p {
       margin: 0;
   }

